<body>
  <!-- where all the meta data will go, like and files we need to include -->
    <title>My Little Rainbow</title><!-- the title is what appears on your tab -->
    <link rel="stylesheet" type="text/css" href="main.css">
  

  <!-- the body element is where everything we will see on the page will go -->

    <!-- our soon to be beautiful rainbow! -->
    <div id="red" class="rainbow"> <!-- the grandest grandparent div -->
      <div id="orange" class="rainbow">
        <div id="yellow" class="rainbow">
          <div id="green" class="rainbow">
            <div id="blue" class="rainbow">
              <div id="indigo" class="rainbow">
                <div id="violet" class="rainbow"></div> <!-- the grandest child div -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
</body>